<!DOCTYPE html>
<html>
  <head>
    <title>Parking Cost Calculator</title>
  </head>
  <body>
    <p>PARKING COST CALCULATOR</p>
      <form method="post">
        <p>
          <label for="parking-lot">Choose a Parking Lot </label>
          <select name="parking-lot">
            <option value="valet" selected>Valet Parking</option>
            <option value="short-term">Short-Term Parking</option>
            <option value="economy">Economy Parking</option>
            <option value="long-term-garage">Long-Term Garage Parking</option>
            <option value="long-term-surface">Long-Term Surface Parking</option>
          </select>
        </p>

        <p>
          <label for="starting-date">Please input entry date and time</label>
          <input type="text" name="starting-date" value=<%= @starting_date %>>
          <input type="text" name="starting-time" value=<%= @starting_time %>>
        </p>

        <p>
          <label for="leaving-date">Please input leaving date and time</label>
          <input type="text" name="leaving-date" value=<%= @leaving_date %>>
          <input type="text" name="leaving-time" value=<%= @leaving_time %>>
        </p>

        <p>Estimated Parking costs: <span id="estimated_cost"><%= @estimated_cost %>$</span></p>

        <p>
          <button type="submit">Calculate</button>
        </p>
      </form>
    </body>
</html>
